# Intellij files
.idea/
*.iml

# Gradle files
.gradle/

# Build files
out/
build/

# Kotlin test
.kotlintest/

# Specifications link
data/v2/specifications

# Generated exercises
generated-exercises/
